
.tickerRibbon {
    width: 100%;
    background-color: #ffffff;
    color: #191b1d;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.tickerBreakingText {
    padding: 10px;
    height: 45px;
    background-color: #000000;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    width: 155px;
}

.breakingText {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
}

.breakingNewsItem {
    font-family: 'Roboto Slab', sans-serif;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 15px;
}