
.tabAlignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.dateTime {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    padding: 7px 10px;
    border-right: 1px solid #e8e8e8;
}

.socialArrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}