.spotlightBorder {
    position: relative;
    border: 2px solid #191b1d;
    padding: 10px 10px 0 ;
    margin-bottom: 10px;
    z-index:5;
}

.spotlightBorder::after {
    position: absolute;
    content: '';
    display: block;
    inset: 2px;
    border: 1px solid #191b1d;
    z-index: 4;
}

.sectionHeader {
    position: relative;
    font-size: 18px;
    font-family: 'Roboto Slab';
    font-weight: 800;
    margin-bottom: 0px;
    padding: 0 0 10px;
    border-bottom: 4px solid #191b1d;
}

.spotlightHeader {
    padding: 2px;
    border: none;
}

.sectionHeader::before {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 2px;
    left: 0;
    display: block;
    content: '';
    border-bottom: 2px solid #191b1d;
}

.spotlightNumber {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    min-width: 33.33%;
}

.spotlightNumber h2 {
    font-family: 'Open Sans';
    font-size: 26px;
    width: 40px;
    text-align: center;
    font-weight: 700;
}

.spotlightNumber h3 {
    font-family: 'Roboto Slab';
    font-size: 18px;
}

.newsAlignment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}