.newsCategory {
    font-family: 'Open Sans';
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 12px 0;
}

.newsHeader {
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 15px;
}

.newsDetails 
{
    font-family: 'Open Sans';
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
}

.newsArticleWidget {
    padding: 15px 15px 5px;
    border-bottom: 1px solid #e8e8e8;
}

.newsArticle {
    border-bottom: 1px solid #e8e8e8;
}

.newsExcerpt {
    font-family: 'Open Sans';
    font-size: 16px;
}

.detailsAlignment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsCategoryWidget {
    font-family: 'Open Sans';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.newsHeaderWidget {
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
}

.newsDetailsWidget {
    font-family: 'Open Sans';
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
}

.newsDetailsIcon {
    margin: 0 0 8px;
}