.headerSection {
    border: 1px solid #e8e8e8;
    padding: 10px;
    font-family: 'Roboto Slab';
    font-size: 19px;
    font-weight: 700;
}

.articleWrapper {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #e8e8e8;
}